html,
body {
  font-size: 10px;
}

body {
  font-family: "Heebo";
  color: $black;
  margin: 20px 0;

  @media (min-width: $lg) {
    margin-top: 146px;
  }
}

button,
input,
textarea {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

h1 {
  height: 3.8rem;
  font: bold 2.6rem/3.8rem "Heebo";
  text-align: center;
  margin: 3.2rem 0 2.4rem;
}

label {
  font: 1.3rem/2rem "Open Sans";
  letter-spacing: 0.03rem;
  display: block;
  margin-bottom: 0.8rem;
}

input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 0;
  font: 1.4rem/2rem "Open Sans";
  margin-bottom: 4rem;
}

input[type="email"] {
  border-bottom: 2px solid $black;
  background-color: $gray;
}

input[type="submit"] {
  background-color: $black;
  color: white;
  padding: 1.5rem;
}

dl {
  position: relative;
  padding: 0 30px 0 47px;
  margin-bottom: 3rem;
  min-height: 36px;

  dt {
    font: 1.4rem/2rem "Open Sans";
    padding-top: 0.8rem;
  }

  &.uploaded {
    dt {
      font-weight: bold;
    }
  }

  &.uploading {
    position: relative;
    .icon-status {
      color: $orange;
    }

    &:before {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 47px;
      width: calc(100% - 4.7rem);
      height: 0.2rem;
      background-color: $gray;
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 47px;
      width: 50%;
      height: 0.2rem;
      background-color: $orange;
    }
  }

  .icon-type {
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
  }

  .icon-status {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    font: 1.3rem/2rem "Open Sans";
  }
}

.upload-file {
  text-align: center;
  position: relative;
  border: 1px dashed $dark-gray;
  background: $gray url("/assets/img/cloud-upload.svg") no-repeat center 2.5rem;
  padding: 4.5rem 2.5rem 2.5rem;
  margin-top: 4rem;

  strong {
    display: block;
  }

  span {
    color: $blue;
    font-weight: bold;
    display: block;
  }

  .browse-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

.submit {
  margin-top: 0.8rem;
  font-weight: bold;
}
